name: Terraform Apply to GCP

on:
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    env:
      TF_IN_AUTOMATION: true
      GOOGLE_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
      TF_VAR_project_id:  ${{ secrets.GCP_PROJECT_ID }}
      TF_VAR_region:      ${{ secrets.GCP_REGION }}
      TF_VAR_zone:        ${{ secrets.GCP_ZONE }}
      # TF_VAR_service_account_email: "gh-terraform-sa@optical-depth-472215-h9.iam.gserviceaccount.com" # opcional si no lo pones en tfvars

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.5

      - name: Terraform Init (reconfigure backend)
        run: terraform init -input=false -reconfigure

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Plan
        run: terraform plan -input=false

      - name: Terraform Apply
        run: terraform apply -auto-approve -input=false
